<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972764763917-5sksbj2gbc85hvcg9s2hf2flod5qkh8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972764763917-5sksbj2gbc85hvcg9s2hf2flod5qkh8o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>972764763917-r9l3sil3p95alc0fkap5rs4r1ngh4jtd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcqPmg6_waB0l2BiTHyKjMxgJdNgrVfsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>972764763917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.porcelain.customerapp</string>
	<key>PROJECT_ID</key>
	<string>porcelain-bf5e6</string>
	<key>STORAGE_BUCKET</key>
	<string>porcelain-bf5e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972764763917:ios:2762a344ba577797</string>
	<key>DATABASE_URL</key>
	<string>https://porcelain-bf5e6.firebaseio.com</string>
</dict>
</plist>